.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    padding: 0px 200px 0px 200px;
}

.card {
    align-items: center;
    text-align: center;
    border: 0.5px whitesmoke solid;
}

.card img {
    width: 100%;
}